
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <h2>Administrator Area</h2>
    @*<p class="bg-warning">This area has been designed specifically for Administrators to be able to perform functions any other user is unable to do.</p>*@
    
    <h5>Charts of Interest:</h5>

    <img src="~/img/EventTicketSales.png" alt="Chart" style="width:565px;height:500px">
    <img src="~/img/UserSubcriptions.png" alt="Chart" style="width:565px;height:500px">
    <img src="~/img/BookingsPerMonth.png" alt="Chart" style="width:565px;height:500px">
    <img src="~/img/EventsPerMonth.png" alt="Chart" style="width:565px;height:500px">

</div>

